body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
}

/* Carrossel */
.carousel {
    margin-bottom: 4rem;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-caption::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: -1;
    border-radius: 20px;
}

.carousel-item {
    height: 32rem;
    background-color: #777;
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 52rem;
}

/* Conteúdo */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.featurette-divider {
    margin: 5rem 0;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

/* Responsividade */
@media (min-width: 40em) {
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

.foo_top_header_one {
    background-color: #15151e;
    color: #fff;
}

.section_padding_100_70 {
    padding-top: 100px;
    padding-bottom: 70px;
}

.kilimanjaro_part {
    margin-bottom: 30px;
}

.foo_top_header_one .kilimanjaro_part > h5 {
    color: #fff;
}

.kilimanjaro_part h4, .kilimanjaro_part h5 {
    margin-bottom: 30px;
}

.kilimanjaro_single_contact_info > p, .kilimanjaro_single_contact_info > h5, .kilimanjaro_blog_area > a, .foo_top_header_one .kilimanjaro_part > p {
    color: rgba(255, 255, 255, .5);
}

p, ul li, ol li {
    font-weight: 300;
}

ul {
    margin: 0;
    padding: 0;
}

.kilimanjaro_bottom_header_one {
    background-color: #111;
}

.section_padding_50 {
    padding: 50px 0;
}

.kilimanjaro_bottom_header_one p {
    color: #fff;
    margin: 0;
}

.kilimanjaro_bottom_header_one a {
    color: inherit;
    font-size: 14px;
}

a, h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

.m-top-15 {
    margin-top: 15px;
}

ul {
    margin: 0;
    padding: 0;
}

.kilimanjaro_widget > li {
    display: inline-block;
}

ol li, ul li {
    list-style: outside none none;
}

.kilimanjaro_widget a {
    border: 1px solid #333;
    border-radius: 6px;
    color: #888;
    display: inline-block;
    font-size: 13px;
    margin-bottom: 4px;
    padding: 7px 12px;
}

ul {
    margin: 0;
    padding: 0;
}

.kilimanjaro_links a {
    border-bottom: 1px solid #333;
    color: rgba(255, 255, 255, .5);
    display: block;
    font-size: 13px;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

.kilimanjaro_links a {
    color: rgba(255, 255, 255, .5);
    font-size: 13px;
}

.top-15 {
    margin-top: 15px;
}

.foo_top_header_one .kilimanjaro_part > h5 {
    color: #fff;
}

.kilimanjaro_part h4, .kilimanjaro_part h5 {
    margin-bottom: 30px;
}

.kilimanjaro_social_links > li {
    display: inline-block;
}

p, ul li, ol li {
    font-weight: 300;
}

.kilimanjaro_social_links a {
    border: 1px solid #333;
    border-radius: 6px;
    color: #888;
    display: inline-block;
    font-size: 13px;
    margin-bottom: 3px;
    padding: 7px 12px;
}

.kilimanjaro_blog_area .kilimanjaro_date {
    color: #27ae60;
    font-size: 13px;
    margin-bottom: 5px;
}

.kilimanjaro_blog_area > p {
    color: rgba(255, 255, 255,
