body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f7f7f7;
}

.navbar-brand {
    font-size: 1.8em;
    font-weight: bold;
}

.navbar-nav .nav-link {
    font-size: 1.2em;
}

.container {
    margin-top: 60px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.card {
    margin-bottom: 20px;
}

.card-header {
    background-color: #ccc;
    color: white;
    font-size: 1.2em;
}

.table th, .table td {
    vertical-align: middle;
}

.btn-block {
    font-size: 1.2em;
    background-color: #ccc;
    border-color: #ccc; 
    margin-top: 10px;
}

footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    border-radius: 8px;
}

footer a {
    color: #007bff;
}
